In [4]:
import pandas as pd
from sklearn.metrics import confusion_matrix
filepath="C:/Users/DELL/OneDrive/Desktop/IIT DHANBAD SAMRAT/7. Multivariate Lab/Practice/Exp 9 Dicriminant Analysis Data.xlsx"
df=pd.read_excel(filepath)
df

,Respond ent Number,Resort visit,Annual family income (000s),Attitude towads travel,Importance attached to family skiing holiday,Household size,Age of head of household,Amount spent on family skiing
0,1,1.0,50.2,5,8,3,43,2
1,2,1.0,70.3,6,7,4,61,3
2,3,1.0,62.9,7,5,6,52,3
3,4,1.0,48.5,7,5,5,36,1
4,5,1.0,52.7,6,6,4,55,3
5,6,1.0,75.0,8,7,5,68,3
6,7,1.0,46.2,5,3,3,62,2
7,8,1.0,57.0,2,4,6,51,2
8,9,1.0,64.1,7,5,4,57,3
9,10,1.0,68.1,7,6,5,45,3
10,11,1.0,73.4,6,7,5,44,3
11,12,1.0,71.9,5,8,4,64,3
12,13,1.0,56.2,1,8,6,54,2
13,14,1.0,49.3,4,2,3,56,3
14,15,1.0,62.0,5,6,2,58,3
15,16,2.0,32.1,5,4,3,58,1
16,17,2.0,36.2,4,3,2,55,1
17,18,2.0,43.2,2,5,2,57,2
18,19,2.0,50.4,5,2,4,37,2
19,20,2.0,44.1,6,6,3,42,2
20,21,2.0,38.3,6,6,2,45,1
21,22,2.0,55.0,1,2,2,57,2
22,23,2.0,46.1,3,5,3,51,1
23,24,2.0,35.0,6,4,5,64,1
24,25,2.0,37.3,2,7,4,54,1
25,26,2.0,41.8,5,1,3,56,2
26,27,2.0,57.0,8,3,2,36,2
27,28,2.0,33.4,6,8,2,50,1
28,29,2.0,37.5,3,2,3,48,1
29,30,2.0,41.3,3,3,2,42,1
30,31,NaN,50.8,4,7,3,45,2
31,32,NaN,49.6,5,3,5,39,1
32,33,NaN,54.5,7,3,3,37,2
33,34,NaN,45.0,5,4,3,60,2
34,35,NaN,68.0,6,6,6,46,3
35,36,NaN,62.1,5,6,3,56,3
36,37,NaN,35.0,4,3,4,54,1
37,38,NaN,54.0,6,7,4,58,2
38,39,NaN,39.4,6,5,3,44,3
39,40,NaN,37.0,2,6,5,51,1

In [6]:
df.drop(['Respond ent Number'], axis = 1, inplace=True)

In [7]:
df.head()

,Resort visit,Annual family income (000s),Attitude towads travel,Importance attached to family skiing holiday,Household size,Age of head of household,Amount spent on family skiing
0,1.0,50.2,5,8,3,43,2
1,1.0,70.3,6,7,4,61,3
2,1.0,62.9,7,5,6,52,3
3,1.0,48.5,7,5,5,36,1
4,1.0,52.7,6,6,4,55,3

In [8]:

df.dropna(inplace=True)

In [9]:
df.head()

,Resort visit,Annual family income (000s),Attitude towads travel,Importance attached to family skiing holiday,Household size,Age of head of household,Amount spent on family skiing
0,1.0,50.2,5,8,3,43,2
1,1.0,70.3,6,7,4,61,3
2,1.0,62.9,7,5,6,52,3
3,1.0,48.5,7,5,5,36,1
4,1.0,52.7,6,6,4,55,3

In [10]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [11]:

clf = LinearDiscriminantAnalysis()

X = df.iloc[:,1:].copy()
X.head()

,Annual family income (000s),Attitude towads travel,Importance attached to family skiing holiday,Household size,Age of head of household,Amount spent on family skiing
0,50.2,5,8,3,43,2
1,70.3,6,7,4,61,3
2,62.9,7,5,6,52,3
3,48.5,7,5,5,36,1
4,52.7,6,6,4,55,3

In [12]:

visit = df['Resort visit'].copy()
visit.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Resort visit, dtype: float64

In [13]:
result = clf.fit(X, visit)
print("\n Classes: ", result.classes_)
print("\n GROUP MEANS: \n", result.means_.round(4))
print("\n PRIOR PROBABILITY", result.priors_.round(4))
print("\n PREDICTIONS: ", result.predict(X))
print("\n CANONICAL DISCRIMINANT FUNCTION \n", result.scalings_.round(3))

 Classes:  [1. 2.]

 GROUP MEANS:
 [[60.52    5.4     5.8     4.3333 53.7333  2.6   ]
 [41.9133  4.3333  4.0667  2.8    50.1333  1.4   ]]

 PRIOR PROBABILITY [0.5 0.5]

 PREDICTIONS:  [1. 1. 1. 2. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2.]

 CANONICAL DISCRIMINANT FUNCTION
 [[ 0.015]
 [-0.003]
 [ 0.175]
 [ 0.51 ]
 [ 0.003]
 [ 1.304]]

In [14]:
results=confusion_matrix(visit, result.predict(X))

In [15]:
print("\nThe Confusion Matrix is: \n", results)

The Confusion Matrix is:
 [[13  2]
 [ 0 15]]

In [16]:
score=result.score(X, visit)

In [17]:
print("\n The accuracy is: ", score.round(4))

 The accuracy is:  0.9333